<h1>
  Using:
  <a href="https://www.npmjs.com/package/apollo-angular-boost">
    Apollo-Angular-Boost</a
  >
</h1>
<h3>
  please donate help us build a better experience :
  <b> 0x4861A10aD69A7a6cA29384b21cA9b0F4D875af86 </b>
</h3>
<div *ngIf="loading">
  <strong>Currently Loading...</strong><br />
  <strong
    >Querying:
    https://api.thegraph.com/subgraphs/name/decentraland/marketplace...</strong
  >
</div>
<div *ngIf="!loading">
  <h2>Counts Properties</h2>
  <ul *ngFor="let response of graphResponse.counts">
    <li>OrderEstate: {{ response.orderEstate }}</li>
    <li>OrderParcel: {{ response.orderParcel }}</li>
  </ul>
  <h2>Orders Properties</h2>
  <ul *ngFor="let response of graphResponse.orders">
    <li>Category: {{ response.category }}</li>
    <li>ID: {{ response.id }}</li>
    <li>NFT: {{ response.nftAddress }}</li>
  </ul>
</div>
<router-outlet></router-outlet>
